# Week 1 [Lecture Notebook](https://lantmztlcdtszyrzyefsog.hub.coursera-notebooks.org/user/lantmztlcdtszyrzyefsog/notebooks/Week%201.ipynb)

---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

## The Python Programming Language: Functions

In [48]:
x = 1
y = 2
x + y

3

In [49]:
x

1

In [50]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [51]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [52]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true
3

In [53]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>

## The Python Programming Language: Types and Sequences

In [54]:
type('This is a string')

str

In [55]:
type(None)

NoneType

In [56]:
type(1)

int

In [57]:
type(1.0)

float

In [58]:
type(add_numbers)

function

### Tuples are an immutable data structure.

In [59]:
# Tuples are enclosed in parentheses.
x = (1, 'a', 2, 'b')
type(x)

tuple

### Lists are a mutable data structure.

In [60]:
# Lists are enclosed in brackets.
x = [1, 'a', 2, 'b']
type(x)

list

In [61]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [62]:
for item in x:
    print(item)

1
a
2
b
3.3

In [63]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [64]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [65]:
[1] * 3

[1, 1, 1]

In [66]:
1 in [1, 2, 3]

True

### Use bracket notation to slice a string.

In [67]:
x = 'This is a string'
print(x[0])    # first character
print(x[0:1])  # first character with the end character set explicitly
print(x[0:2])  # first two characters

T
T
Th

In [68]:
x[-1]

'g'

In [69]:
x[-4:-2]

'ri'

In [70]:
x[:3]

'Thi'

In [71]:
x[3:]

's is a string'

In [72]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [73]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element in the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element in the list
print(firstname)
print(lastname)

Christopher
Brooks

In [74]:
# Make sure you convert objects to strings before concatenating.
"""
'Chris' + 2

>>> TypeError: Can't convert 'int' object to str implicitly
"""

"\n'Chris' + 2\n\n>>> TypeError: Can't convert 'int' object to str implicitly\n"

In [75]:
'Chris' + str(2)

'Chris2'

### Dictionaries associate keys with values.

In [76]:
x = {'Christopher Brooks': 'brooks@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooks@umich.edu'

In [77]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [78]:
for name in x:
    print(x[name])

None
billg@microsoft.com
brooks@umich.edu

In [79]:
for email in x.values():
    print(email)

None
billg@microsoft.com
brooks@umich.edu

In [80]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Bill Gates
billg@microsoft.com
Christopher Brooks
brooks@umich.edu

In [81]:
# You can unpack a sequence into different variables:
x = ('Christopher', 'Brooks', 'brooksch@mich.edu')
fname, lname, email = x

In [82]:
fname

'Christopher'

In [83]:
lname

'Brooks'

In [84]:
email

'brooksch@mich.edu'

In [85]:
# Make sure that the number of values you are unpacking matches the number of variables being assigned:
"""
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

>>> 2 fname, lname, email = x
>>> ValueError: too many values to unpack (expected 3)
"""

"\nx = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')\nfname, lname, email = x\n\n>>> 2 fname, lname, email = x\n>>> ValueError: too many values to unpack (expected 3)\n"

## The Python Programming Language: More on Strings

In [86]:
"""
print('Chris' + 2)

>>> TypeError: Can't convert 'int' object to str implicitly
"""

"\nprint('Chris' + 2)\n\n>>> TypeError: Can't convert 'int' object to str implicitly\n"

In [87]:
print('Chris' + str(2))

Chris2

In [88]:
# Python has string formatting built in:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'
}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}.'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96.

## Reading and Writing CSV Files

In [89]:
# We are going to use the mpg.csv dataset that contains fuel economy data for 234 cars.
import csv
# floating-point precision to 2 decimal places
%precision 2  

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
# print(mpg[:3])  # prints the first 3 dictionaries in the list
mpg[:3]  # is easier to read than the print statement output

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [90]:
# csv.Dictreader has read in each row of our csv file as a dictionary.
# len() shows that our list is comprised of 234 dictionaries -- one for each car.
len(mpg)

234

In [91]:
# keys() gives us the column names of our csv file.
mpg[0].keys()

dict_keys(['', 'year', 'class', 'trans', 'manufacturer', 'drv', 'model', 'cty', 'displ', 'cyl', 'fl', 'hwy'])

In [92]:
# Let's find the average city ('cty) fuel economy for all cars.
# All values in the dictionaries are strings, so we need to convert them to floats.

sum(float(entry['cty']) for entry in mpg) / len(mpg)

16.86

In [93]:
# Now let's find the average highway ('hwy') fuel economy for all cars:

sum(float(entry['hwy']) for entry in mpg) / len(mpg)

23.44

In [94]:
# We can use set() to return the unique values for the number of cylinders each car has:

cylinders = set(entry['cyl'] for entry in mpg)
cylinders

{'4', '5', '6', '8'}

In [110]:
# Now for something a bit more challenging.
# We are grouping the cars by number of cylinders, and finding the average city mpg for each group.

CityMpgByCyl = []

for c in cylinders:  # iterate over all of the cylinder levels
    sum_mpg = 0
    cyl_type_count = 0
    for car in mpg:  # iterate over all of the dictionaries
        if car['cyl'] == c:  # if the cylinder level type matches,
            sum_mpg += float(car['cty'])  # add the city mpg
            cyl_type_count += 1  # increment the count
    CityMpgByCyl.append((c, sum_mpg / cyl_type_count))  # append the tuple ('cylinder', 'avg mpg')
    
CityMpgByCyl.sort(key=lambda x: x[0])  # sort lowest to highest
CityMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [104]:
# Use set() to return the unique values for the class types in our dataset.

vehicleclass = set(car['class'] for car in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [111]:
# Now let's find the average highway mpg for each class of vehicle in our dataset.

HwyMpgByClass = []

for kind in vehicleclass:  # iterate over all of the vehicle classes
    sum_mpg = 0
    vehicle_class_count = 0
    for car in mpg:  # iterate over all of the dictionaries
        if car['class'] == kind:  # if the cylinder amount type matches,
            sum_mpg += float(car['hwy'])  # add the highway mpg
            vehicle_class_count += 1  # increment the count
    HwyMpgByClass.append((kind, sum_mpg / vehicle_class_count))  # append the tuple ('class', 'avg mpg')
    
HwyMpgByClass.sort(key=lambda x: x[1])  # sort lowest to highest
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## The Python Programming Language: Dates and Times