# Week 1 [Lecture Notebook](https://lantmztlcdtszyrzyefsog.hub.coursera-notebooks.org/user/lantmztlcdtszyrzyefsog/notebooks/Week%201.ipynb)

---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

## The Python Programming Language: Functions

In [137]:
x = 1
y = 2
x + y

3

In [138]:
x

1

In [139]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [140]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [141]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true
3

In [142]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>

## The Python Programming Language: Types and Sequences

In [143]:
type('This is a string')

str

In [144]:
type(None)

NoneType

In [145]:
type(1)

int

In [146]:
type(1.0)

float

In [147]:
type(add_numbers)

function

### Tuples are an immutable data structure.

In [148]:
# Tuples are enclosed in parentheses.
x = (1, 'a', 2, 'b')
type(x)

tuple

### Lists are a mutable data structure.

In [149]:
# Lists are enclosed in brackets.
x = [1, 'a', 2, 'b']
type(x)

list

In [150]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [151]:
for item in x:
    print(item)

1
a
2
b
3.3

In [152]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [153]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [154]:
[1] * 3

[1, 1, 1]

In [155]:
1 in [1, 2, 3]

True

### Use bracket notation to slice a string.

In [156]:
x = 'This is a string'
print(x[0])    # first character
print(x[0:1])  # first character with the end character set explicitly
print(x[0:2])  # first two characters

T
T
Th

In [157]:
x[-1]

'g'

In [158]:
x[-4:-2]

'ri'

In [159]:
x[:3]

'Thi'

In [160]:
x[3:]

's is a string'

In [161]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [162]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element in the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element in the list
print(firstname)
print(lastname)

Christopher
Brooks

In [163]:
# Make sure you convert objects to strings before concatenating.
"""
'Chris' + 2

>>> TypeError: Can't convert 'int' object to str implicitly
"""

"\n'Chris' + 2\n\n>>> TypeError: Can't convert 'int' object to str implicitly\n"

In [164]:
'Chris' + str(2)

'Chris2'

### Dictionaries associate keys with values.

In [165]:
x = {'Christopher Brooks': 'brooks@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooks@umich.edu'

In [166]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [167]:
for name in x:
    print(x[name])

brooks@umich.edu
None
billg@microsoft.com

In [168]:
for email in x.values():
    print(email)

brooks@umich.edu
None
billg@microsoft.com

In [169]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooks@umich.edu
Kevyn Collins-Thompson
None
Bill Gates
billg@microsoft.com

In [170]:
# You can unpack a sequence into different variables:
x = ('Christopher', 'Brooks', 'brooksch@mich.edu')
fname, lname, email = x

In [171]:
fname

'Christopher'

In [172]:
lname

'Brooks'

In [173]:
email

'brooksch@mich.edu'

In [174]:
# Make sure that the number of values you are unpacking matches the number of variables being assigned:
"""
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

>>> 2 fname, lname, email = x
>>> ValueError: too many values to unpack (expected 3)
"""

"\nx = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')\nfname, lname, email = x\n\n>>> 2 fname, lname, email = x\n>>> ValueError: too many values to unpack (expected 3)\n"

## The Python Programming Language: More on Strings

In [175]:
"""
print('Chris' + 2)

>>> TypeError: Can't convert 'int' object to str implicitly
"""

"\nprint('Chris' + 2)\n\n>>> TypeError: Can't convert 'int' object to str implicitly\n"

In [176]:
print('Chris' + str(2))

Chris2

In [177]:
# Python has string formatting built in:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'
}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}.'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96.

## Reading and Writing CSV Files

In [178]:
# We are going to use the mpg.csv dataset that contains fuel economy data for 234 cars.
import csv
# floating-point precision to 2 decimal places
%precision 2  

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
# print(mpg[:3])  # prints the first 3 dictionaries in the list
mpg[:3]  # is easier to read than the print statement output

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [179]:
# csv.Dictreader has read in each row of our csv file as a dictionary.
# len() shows that our list is comprised of 234 dictionaries -- one for each car.
len(mpg)

234

In [180]:
# keys() gives us the column names of our csv file.
mpg[0].keys()

dict_keys(['', 'year', 'trans', 'hwy', 'cty', 'class', 'manufacturer', 'cyl', 'model', 'drv', 'displ', 'fl'])

In [181]:
# Let's find the average city ('cty) fuel economy for all cars.
# All values in the dictionaries are strings, so we need to convert them to floats.

sum(float(entry['cty']) for entry in mpg) / len(mpg)

16.86

In [182]:
# Now let's find the average highway ('hwy') fuel economy for all cars:

sum(float(entry['hwy']) for entry in mpg) / len(mpg)

23.44

In [183]:
# We can use set() to return the unique values for the number of cylinders each car has:

cylinders = set(entry['cyl'] for entry in mpg)
cylinders

{'4', '5', '6', '8'}

In [184]:
# Now for something a bit more challenging.
# We are grouping the cars by number of cylinders, and finding the average city mpg for each group.

CityMpgByCyl = []

for c in cylinders:  # iterate over all of the cylinder levels
    sum_mpg = 0
    cyl_type_count = 0
    for car in mpg:  # iterate over all of the dictionaries
        if car['cyl'] == c:  # if the cylinder level type matches,
            sum_mpg += float(car['cty'])  # add the city mpg
            cyl_type_count += 1  # increment the count
    CityMpgByCyl.append((c, sum_mpg / cyl_type_count))  # append the tuple ('cylinder', 'avg mpg')
    
CityMpgByCyl.sort(key=lambda x: x[0])  # sort lowest to highest
CityMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [185]:
# Use set() to return the unique values for the class types in our dataset.

vehicleclass = set(car['class'] for car in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [186]:
# Now let's find the average highway mpg for each class of vehicle in our dataset.

HwyMpgByClass = []

for kind in vehicleclass:  # iterate over all of the vehicle classes
    sum_mpg = 0
    vehicle_class_count = 0
    for car in mpg:  # iterate over all of the dictionaries
        if car['class'] == kind:  # if the cylinder amount type matches,
            sum_mpg += float(car['hwy'])  # add the highway mpg
            vehicle_class_count += 1  # increment the count
    HwyMpgByClass.append((kind, sum_mpg / vehicle_class_count))  # append the tuple ('class', 'avg mpg')
    
HwyMpgByClass.sort(key=lambda x: x[1])  # sort lowest to highest
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## The Python Programming Language: Dates and Times

In [187]:
# Pandas has a datetime library -- I guess we'll go over that later.
import datetime as dt
# https://docs.python.org/3.5/library/datetime.html#module-datetime
import time as tm
# https://docs.python.org/3.5/library/time.html

In [188]:
# time() returns the current time in seconds since the Epoch (January 1st 1970).
tm.time()

1478100505.48

In [189]:
# Convert the timestamp to datetime.
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2016, 11, 2, 8, 28, 25, 490979)

In [190]:
# Here are some handy datetime attributes:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2016, 11, 2, 8, 28, 25)

In [191]:
# timedelta() is a duration expressing the difference between two dates.
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [192]:
# Guess what date.today() does.
today = dt.date.today()
today

datetime.date(2016, 11, 2)

In [193]:
minus100 = today - delta
minus100

datetime.date(2016, 7, 25)

In [194]:
today > minus100

True

## The Python Programming Language: Objects and map()

In [195]:
# An example of a class in Python:
class Person:
    department = 'School of Information'  # a class variable
    
    def set_name(self, new_name):  # a method
        self.name = new_name
        
    def set_location(self, new_location):
        self.location = new_location

In [201]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} lives in {} and works in the {}.'.format(person.name, person.location, person.department))

Christopher Brooks lives in Ann Arbor, MI, USA and works in the School of Information.

In [199]:
# Here is an example of mapping the min() function between two lists:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [200]:
# Now we can iterate through the map object to see the values:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

## The Python Programming Language: Lambdas and List Comprehensions

In [202]:
# Here is an example of a lambda that takes in three parameters and adds the first two:
my_function = lambda a, b, c : a + b

In [203]:
my_function(1, 2, 3)

3

In [205]:
# Return all even numbers from 0 to 999:
my_list = []
for number in range(0, 1000):  # range(1000) also works
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [206]:
# Now let's do the same thing with a list comprehension:
my_list = [number for number in range(0, 1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

### [Here](http://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/) is a nifty post about list comprehensions that can give a better idea about how they work.

<br>

## The Python Programming Language: Numerical Python -- NumPy