# 10 Minutes to pandas

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

<p>Creating a Series by passing a list of values, letting pandas create a default integer index:</p>

In [83]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

<p>Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:</p>

In [84]:
dates = pd.date_range('20161112', periods=6)
dates

DatetimeIndex(['2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15',
               '2016-11-16', '2016-11-17'],
              dtype='datetime64[ns]', freq='D')

In [85]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825 -0.778299
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-14 -0.343988  1.180273 -0.391515  1.256700
2016-11-15  1.254716 -0.413402  0.654134  0.283618
2016-11-16  0.202012  0.907358 -0.377796 -2.224985
2016-11-17  0.434473 -1.494287 -0.067376  0.012071

<p>Creating a DataFrame by passing a dict of objects that can be converted to series-like:</p>

In [86]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp(20161112),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo'})
df2

     A                             B    C  D      E    F
0  1.0 1970-01-01 00:00:00.020161112  1.0  3   test  foo
1  1.0 1970-01-01 00:00:00.020161112  1.0  3  train  foo
2  1.0 1970-01-01 00:00:00.020161112  1.0  3   test  foo
3  1.0 1970-01-01 00:00:00.020161112  1.0  3  train  foo

<p>Having specific dtypes:</p>

In [87]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

>>> df2.<TAB>

df2.A                  df2.boxplot
df2.abs                df2.C
df2.add                df2.clip
df2.add_prefix         df2.clip_lower
df2.add_suffix         df2.clip_upper
df2.align              df2.columns
df2.all                df2.combine
df2.any                df2.combineAdd
df2.append             df2.combine_first
df2.apply              df2.combineMult
df2.applymap           df2.compound
df2.as_blocks          df2.consolidate
df2.asfreq             df2.convert_objects
df2.as_matrix          df2.copy
df2.astype             df2.corr
df2.at                 df2.corrwith
df2.at_time            df2.count
df2.axes               df2.cov
df2.B                  df2.cummax
df2.between_time       df2.cummin
df2.bfill              df2.cumprod
df2.blocks             df2.cumsum
df2.bool               df2.D

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

## Viewing Data

<p>See the top and bottom rows of the frame:</p>

In [88]:
df.head()

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825 -0.778299
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-14 -0.343988  1.180273 -0.391515  1.256700
2016-11-15  1.254716 -0.413402  0.654134  0.283618
2016-11-16  0.202012  0.907358 -0.377796 -2.224985

In [89]:
df.tail(3)

                   A         B         C         D
2016-11-15  1.254716 -0.413402  0.654134  0.283618
2016-11-16  0.202012  0.907358 -0.377796 -2.224985
2016-11-17  0.434473 -1.494287 -0.067376  0.012071

<p>Display the index, columns, and the underlying numpy data:</p>

In [90]:
df.index

DatetimeIndex(['2016-11-12', '2016-11-13', '2016-11-14', '2016-11-15',
               '2016-11-16', '2016-11-17'],
              dtype='datetime64[ns]', freq='D')

In [91]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [92]:
df.values

array([[ 0.49478223,  1.18688432,  1.13482546, -0.77829883],
       [-0.0188854 , -1.35747419,  1.24932476, -1.00643372],
       [-0.34398807,  1.18027349, -0.39151505,  1.25669983],
       [ 1.25471639, -0.41340241,  0.65413354,  0.28361822],
       [ 0.20201164,  0.90735788, -0.37779642, -2.22498521],
       [ 0.43447282, -1.49428734, -0.06737589,  0.01207101]])

<p>Describe shows a quick statistic summary of your data:</p>

In [93]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.337185  0.001559  0.366933 -0.409555
std    0.545018  1.254716  0.744211  1.201889
min   -0.343988 -1.494287 -0.391515 -2.224985
25%    0.036339 -1.121456 -0.300191 -0.949400
50%    0.318242  0.246978  0.293379 -0.383114
75%    0.479705  1.112045  1.014652  0.215731
max    1.254716  1.186884  1.249325  1.256700

<p>Transposing your data:</p>

In [94]:
df.T

   2016-11-12  2016-11-13  2016-11-14  2016-11-15  2016-11-16  2016-11-17
A    0.494782   -0.018885   -0.343988    1.254716    0.202012    0.434473
B    1.186884   -1.357474    1.180273   -0.413402    0.907358   -1.494287
C    1.134825    1.249325   -0.391515    0.654134   -0.377796   -0.067376
D   -0.778299   -1.006434    1.256700    0.283618   -2.224985    0.012071

<p>Sorting by an axis:</p>

In [95]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-11-12 -0.778299  1.134825  1.186884  0.494782
2016-11-13 -1.006434  1.249325 -1.357474 -0.018885
2016-11-14  1.256700 -0.391515  1.180273 -0.343988
2016-11-15  0.283618  0.654134 -0.413402  1.254716
2016-11-16 -2.224985 -0.377796  0.907358  0.202012
2016-11-17  0.012071 -0.067376 -1.494287  0.434473

<p>Sorting by values:</p>

In [96]:
df.sort_values(by='B')

                   A         B         C         D
2016-11-17  0.434473 -1.494287 -0.067376  0.012071
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-15  1.254716 -0.413402  0.654134  0.283618
2016-11-16  0.202012  0.907358 -0.377796 -2.224985
2016-11-14 -0.343988  1.180273 -0.391515  1.256700
2016-11-12  0.494782  1.186884  1.134825 -0.778299

## Selection

<p>See the indexing documentation Indexing and Selecting Data and MultiIndex/Advanced Indexing.</p>

### Getting

Selecting a single column, which yields a Series, equivalent to df.A:

In [97]:
df['A']

2016-11-12    0.494782
2016-11-13   -0.018885
2016-11-14   -0.343988
2016-11-15    1.254716
2016-11-16    0.202012
2016-11-17    0.434473
Freq: D, Name: A, dtype: float64

<p>Selecting via [ ], which slices the rows.</p>

In [98]:
df[0:3]

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825 -0.778299
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-14 -0.343988  1.180273 -0.391515  1.256700

In [99]:
df['20161112':'20161114']

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825 -0.778299
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-14 -0.343988  1.180273 -0.391515  1.256700

### Selection by Label

For getting a cross section using a label:

In [100]:
df.loc[dates[0]]

A    0.494782
B    1.186884
C    1.134825
D   -0.778299
Name: 2016-11-12 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [101]:
df.loc[:,['A','B']]

                   A         B
2016-11-12  0.494782  1.186884
2016-11-13 -0.018885 -1.357474
2016-11-14 -0.343988  1.180273
2016-11-15  1.254716 -0.413402
2016-11-16  0.202012  0.907358
2016-11-17  0.434473 -1.494287

Showing label slicing, both endpoints are included:

In [102]:
df.loc['20161112':'20161114',['A','B']]

                   A         B
2016-11-12  0.494782  1.186884
2016-11-13 -0.018885 -1.357474
2016-11-14 -0.343988  1.180273

Reduction in the dimensions of the returned object:

In [103]:
df.loc['20161112',['A','B']]

A    0.494782
B    1.186884
Name: 2016-11-12 00:00:00, dtype: float64

For getting a scalar value:

In [104]:
df.loc[dates[0],'A']

0.49478222878399808

For getting fast access to a scalar value (equivalent to the prior method):

In [105]:
df.at[dates[0],'A']

0.49478222878399808

### Selection by Position

Select via the position of the passed integers:

In [106]:
df.iloc[3]

A    1.254716
B   -0.413402
C    0.654134
D    0.283618
Name: 2016-11-15 00:00:00, dtype: float64

By integer slices, acting similar to the numpy/python style:

In [107]:
df.iloc[3:5,0:2]

                   A         B
2016-11-15  1.254716 -0.413402
2016-11-16  0.202012  0.907358

By lists of integer position locations, similar to the numpy/python style:

In [108]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2016-11-13 -0.018885  1.249325
2016-11-14 -0.343988 -0.391515
2016-11-16  0.202012 -0.377796

For slicing rows explicitly:

In [109]:
df.iloc[1:3,:]

                   A         B         C         D
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434
2016-11-14 -0.343988  1.180273 -0.391515  1.256700

For slicing columns explicitly:

In [110]:
df.iloc[:,1:3]

                   B         C
2016-11-12  1.186884  1.134825
2016-11-13 -1.357474  1.249325
2016-11-14  1.180273 -0.391515
2016-11-15 -0.413402  0.654134
2016-11-16  0.907358 -0.377796
2016-11-17 -1.494287 -0.067376

For getting a value explicitly:

In [111]:
df.iloc[1,1]

-1.3574741946346307

For getting fast access to a scalar (equivalent to the prior method):

In [112]:
df.iat[1,1]

-1.3574741946346307

### Boolean Indexing

Using a single column's values to select data:

In [113]:
df[df.A > 0]

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825 -0.778299
2016-11-15  1.254716 -0.413402  0.654134  0.283618
2016-11-16  0.202012  0.907358 -0.377796 -2.224985
2016-11-17  0.434473 -1.494287 -0.067376  0.012071

A where operation for getting:

In [114]:
df[df > 0]

                   A         B         C         D
2016-11-12  0.494782  1.186884  1.134825       NaN
2016-11-13       NaN       NaN  1.249325       NaN
2016-11-14       NaN  1.180273       NaN  1.256700
2016-11-15  1.254716       NaN  0.654134  0.283618
2016-11-16  0.202012  0.907358       NaN       NaN
2016-11-17  0.434473       NaN       NaN  0.012071

Using the isin() method for filtering:

In [115]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2016-11-12  0.494782  1.186884  1.134825 -0.778299    one
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434    one
2016-11-14 -0.343988  1.180273 -0.391515  1.256700    two
2016-11-15  1.254716 -0.413402  0.654134  0.283618  three
2016-11-16  0.202012  0.907358 -0.377796 -2.224985   four
2016-11-17  0.434473 -1.494287 -0.067376  0.012071  three

In [116]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2016-11-14 -0.343988  1.180273 -0.391515  1.256700   two
2016-11-16  0.202012  0.907358 -0.377796 -2.224985  four

### Setting

Setting a new column automatically aligns the data by the indexes:

In [117]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20161112', periods=6))
s1

2016-11-12    1
2016-11-13    2
2016-11-14    3
2016-11-15    4
2016-11-16    5
2016-11-17    6
Freq: D, dtype: int64

In [118]:
df['F'] = s1
df

                   A         B         C         D  F
2016-11-12  0.494782  1.186884  1.134825 -0.778299  1
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434  2
2016-11-14 -0.343988  1.180273 -0.391515  1.256700  3
2016-11-15  1.254716 -0.413402  0.654134  0.283618  4
2016-11-16  0.202012  0.907358 -0.377796 -2.224985  5
2016-11-17  0.434473 -1.494287 -0.067376  0.012071  6

Setting values by label:

In [119]:
df.at[dates[0],'A'] = 0
df

                   A         B         C         D  F
2016-11-12  0.000000  1.186884  1.134825 -0.778299  1
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434  2
2016-11-14 -0.343988  1.180273 -0.391515  1.256700  3
2016-11-15  1.254716 -0.413402  0.654134  0.283618  4
2016-11-16  0.202012  0.907358 -0.377796 -2.224985  5
2016-11-17  0.434473 -1.494287 -0.067376  0.012071  6

Setting values by position:

In [120]:
df.iat[0,1] = 0
df

                   A         B         C         D  F
2016-11-12  0.000000  0.000000  1.134825 -0.778299  1
2016-11-13 -0.018885 -1.357474  1.249325 -1.006434  2
2016-11-14 -0.343988  1.180273 -0.391515  1.256700  3
2016-11-15  1.254716 -0.413402  0.654134  0.283618  4
2016-11-16  0.202012  0.907358 -0.377796 -2.224985  5
2016-11-17  0.434473 -1.494287 -0.067376  0.012071  6

Setting by assigning with a numpy array:

In [121]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2016-11-12  0.000000  0.000000  1.134825  5  1
2016-11-13 -0.018885 -1.357474  1.249325  5  2
2016-11-14 -0.343988  1.180273 -0.391515  5  3
2016-11-15  1.254716 -0.413402  0.654134  5  4
2016-11-16  0.202012  0.907358 -0.377796  5  5
2016-11-17  0.434473 -1.494287 -0.067376  5  6

In [122]:
# Make DataFrame df match tutorial df
df.loc[:,'F'] = [np.nan, 1,2,3,4,5]
df

                   A         B         C  D    F
2016-11-12  0.000000  0.000000  1.134825  5  NaN
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0
2016-11-15  1.254716 -0.413402  0.654134  5  3.0
2016-11-16  0.202012  0.907358 -0.377796  5  4.0
2016-11-17  0.434473 -1.494287 -0.067376  5  5.0

A where operation with setting:

In [123]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2016-11-12  0.000000  0.000000 -1.134825 -5  NaN
2016-11-13 -0.018885 -1.357474 -1.249325 -5 -1.0
2016-11-14 -0.343988 -1.180273 -0.391515 -5 -2.0
2016-11-15 -1.254716 -0.413402 -0.654134 -5 -3.0
2016-11-16 -0.202012 -0.907358 -0.377796 -5 -4.0
2016-11-17 -0.434473 -1.494287 -0.067376 -5 -5.0

## Missing Data

pandas primarily (?!) uses the value np.nan to represent missing data.  
It is by default not included in computations.

Reindexing allows you to change/add/delete the index on a specified axis.  
This returns a copy of the data.

In [124]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

                   A         B         C  D    F   E
2016-11-12  0.000000  0.000000  1.134825  5  NaN NaN
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0 NaN
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0 NaN
2016-11-15  1.254716 -0.413402  0.654134  5  3.0 NaN

In [125]:
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2016-11-12  0.000000  0.000000  1.134825  5  NaN  1.0
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0  1.0
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0  NaN
2016-11-15  1.254716 -0.413402  0.654134  5  3.0  NaN

To drop any rows that have missing data:

In [126]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0  1.0

In [127]:
df1

                   A         B         C  D    F    E
2016-11-12  0.000000  0.000000  1.134825  5  NaN  1.0
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0  1.0
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0  NaN
2016-11-15  1.254716 -0.413402  0.654134  5  3.0  NaN

Filling missing data:

In [128]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2016-11-12  0.000000  0.000000  1.134825  5  5.0  1.0
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0  1.0
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0  5.0
2016-11-15  1.254716 -0.413402  0.654134  5  3.0  5.0

To get the boolean mask where values are nan:

In [129]:
pd.isnull(df1)

                A      B      C      D      F      E
2016-11-12  False  False  False  False   True  False
2016-11-13  False  False  False  False  False  False
2016-11-14  False  False  False  False  False   True
2016-11-15  False  False  False  False  False   True

## Operations

See the Basic section on Binary Ops.

### Stats

Operations in general <em>exclude</em> missing data.

Performing a descriptive statistic:

In [130]:
df.mean()

A    0.254721
B   -0.196255
C    0.366933
D    5.000000
F    3.000000
dtype: float64

Same operation on the other axis:

In [131]:
df.mean(1)

2016-11-12    1.533706
2016-11-13    1.174593
2016-11-14    1.488954
2016-11-15    1.899090
2016-11-16    1.946315
2016-11-17    1.774562
Freq: D, dtype: float64

Operating with objects that have different dimensionality and need alignment.  
In addition, pandas broadcasts along the specified dimension.

In [132]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2016-11-12    NaN
2016-11-13    NaN
2016-11-14    1.0
2016-11-15    3.0
2016-11-16    5.0
2016-11-17    NaN
Freq: D, dtype: float64

In [133]:
df.sub(s, axis='index')

                   A         B         C    D    F
2016-11-12       NaN       NaN       NaN  NaN  NaN
2016-11-13       NaN       NaN       NaN  NaN  NaN
2016-11-14 -1.343988  0.180273 -1.391515  4.0  1.0
2016-11-15 -1.745284 -3.413402 -2.345866  2.0  0.0
2016-11-16 -4.797988 -4.092642 -5.377796  0.0 -1.0
2016-11-17       NaN       NaN       NaN  NaN  NaN

### Apply

Applying functions to the data:

In [134]:
df

                   A         B         C  D    F
2016-11-12  0.000000  0.000000  1.134825  5  NaN
2016-11-13 -0.018885 -1.357474  1.249325  5  1.0
2016-11-14 -0.343988  1.180273 -0.391515  5  2.0
2016-11-15  1.254716 -0.413402  0.654134  5  3.0
2016-11-16  0.202012  0.907358 -0.377796  5  4.0
2016-11-17  0.434473 -1.494287 -0.067376  5  5.0

In [135]:
df.apply(np.cumsum)

                   A         B         C   D     F
2016-11-12  0.000000  0.000000  1.134825   5   NaN
2016-11-13 -0.018885 -1.357474  2.384150  10   1.0
2016-11-14 -0.362873 -0.177201  1.992635  15   3.0
2016-11-15  0.891843 -0.590603  2.646769  20   6.0
2016-11-16  1.093855  0.316755  2.268972  25  10.0
2016-11-17  1.528327 -1.177533  2.201596  30  15.0

In [136]:
df.apply(lambda x: x.max() - x.min())

A    1.598704
B    2.674561
C    1.640840
D    0.000000
F    4.000000
dtype: float64

### Histogramming

See more at Histogramming and Discretization.

In [137]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    5
1    5
2    0
3    1
4    0
5    3
6    5
7    6
8    4
9    0
dtype: int64

In [138]:
s.value_counts()

5    3
0    3
6    1
4    1
3    1
1    1
dtype: int64

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below.  
Note that the pattern-matching in str generally uses regular expressions by default, and in some cases always uses regexes.  
See more at Vectorized String Methods.

In [139]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [140]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge

### Concat

See the Merging section.  
Concatenating pandas objects together with concat():

In [141]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.927103 -1.316900 -0.700437  0.021230
1 -0.194000 -0.666960 -1.141756  0.544435
2 -0.811015  0.894444 -1.177489  0.672841
3  0.918485  0.245720 -0.327164  0.369617
4  0.968727 -1.271993 -0.567114 -0.915415
5  0.166496  0.604115 -0.173281  0.795958
6  1.739748  0.212647 -0.782198  1.123324
7 -0.355556  0.879716 -0.015345  1.622211
8 -0.882631 -0.369744 -2.434266  0.250345
9 -1.706780  0.982304  0.637379 -1.167062

In [142]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.927103 -1.316900 -0.700437  0.021230
 1 -0.194000 -0.666960 -1.141756  0.544435
 2 -0.811015  0.894444 -1.177489  0.672841,
           0         1         2         3
 3  0.918485  0.245720 -0.327164  0.369617
 4  0.968727 -1.271993 -0.567114 -0.915415
 5  0.166496  0.604115 -0.173281  0.795958
 6  1.739748  0.212647 -0.782198  1.123324,
           0         1         2         3
 7 -0.355556  0.879716 -0.015345  1.622211
 8 -0.882631 -0.369744 -2.434266  0.250345
 9 -1.706780  0.982304  0.637379 -1.167062]

In [143]:
pd.concat(pieces)

          0         1         2         3
0 -0.927103 -1.316900 -0.700437  0.021230
1 -0.194000 -0.666960 -1.141756  0.544435
2 -0.811015  0.894444 -1.177489  0.672841
3  0.918485  0.245720 -0.327164  0.369617
4  0.968727 -1.271993 -0.567114 -0.915415
5  0.166496  0.604115 -0.173281  0.795958
6  1.739748  0.212647 -0.782198  1.123324
7 -0.355556  0.879716 -0.015345  1.622211
8 -0.882631 -0.369744 -2.434266  0.250345
9 -1.706780  0.982304  0.637379 -1.167062

### Join

SQL style merges.  
See the Database style joining.

In [144]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [145]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [146]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Another example that can be given is:

In [147]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [148]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [149]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Append

Append rows to a dataframe.  
See the Appending.

In [150]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.338368  1.857320  0.219512 -2.098812
1 -0.158176 -0.457515  0.487393 -0.374044
2  1.207673  1.702939 -0.395771 -0.584300
3 -0.980941 -0.307914  0.114980 -0.251957
4  0.751301  0.341862  1.350471 -0.421231
5 -0.283030 -0.272297 -0.189218 -0.107674
6  0.705902  0.258450  0.967519 -1.038962
7  1.648172 -0.449232 -0.384237 -0.089353

In [151]:
s = df.iloc[3]
s

A   -0.980941
B   -0.307914
C    0.114980
D   -0.251957
Name: 3, dtype: float64

In [152]:
df.append(s, ignore_index=True)  
# leaving out ignore_index means the appended row will have an index of 3 instead of 8

          A         B         C         D
0  0.338368  1.857320  0.219512 -2.098812
1 -0.158176 -0.457515  0.487393 -0.374044
2  1.207673  1.702939 -0.395771 -0.584300
3 -0.980941 -0.307914  0.114980 -0.251957
4  0.751301  0.341862  1.350471 -0.421231
5 -0.283030 -0.272297 -0.189218 -0.107674
6  0.705902  0.258450  0.967519 -1.038962
7  1.648172 -0.449232 -0.384237 -0.089353
8 -0.980941 -0.307914  0.114980 -0.251957

## Grouping

By 'group by', we are referring to a process involving one or more of the following steps:  
- Splitting the data into groups based on some criteria  
- Applying a function to each group independently  
- Combining the results into a data structure  
See the Grouping section.

In [153]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.641266  0.918566
1  bar    one  0.393996 -1.049878
2  foo    two -0.420952  1.033503
3  bar  three  0.586239 -0.494539
4  foo    two -0.155916 -0.794752
5  bar    two  1.465909  2.298146
6  foo    one  0.000879 -1.836953
7  foo  three  1.619914  0.620802

Grouping and then applying a function sum() to the resulting groups:

In [154]:
df.groupby('A').sum()

            C         D
A
bar  2.446143  0.753729
foo  1.685192 -0.058834

In [155]:
df.groupby('B').sum()

              C         D
B
one    1.036141 -1.968265
three  2.206153  0.126263
two    0.889041  2.536897

Grouping by multiple columns forms a hierarchical index, which is then applied to the function:

In [156]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one    0.393996 -1.049878
    three  0.586239 -0.494539
    two    1.465909  2.298146
foo one    0.642145 -0.918387
    three  1.619914  0.620802
    two   -0.576867  0.238750

In [157]:
df.groupby(['B', 'A']).sum()

                  C         D
B     A
one   bar  0.393996 -1.049878
      foo  0.642145 -0.918387
three bar  0.586239 -0.494539
      foo  1.619914  0.620802
two   bar  1.465909  2.298146
      foo -0.576867  0.238750

## Reshaping

See the sections on Hierarchical Indexing and Reshaping

### Stack

In [158]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [159]:
example_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
example_index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [160]:
df = pd.DataFrame(np.random.randn(8, 2), index=example_index, columns=['A', 'B'])
df

                     A         B
first second
bar   one    -0.738500 -1.069810
      two    -0.571120 -0.044303
baz   one    -0.615106 -0.406237
      two    -0.110532  1.122239
foo   one    -1.712330  0.646534
      two     0.271026 -0.339205
qux   one    -0.096238  1.252434
      two     0.789666  0.801976

In [163]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.738500 -1.069810
      two    -0.571120 -0.044303
baz   one    -0.615106 -0.406237
      two    -0.110532  1.122239

The stack() method 'compresses' a level in the DataFrame's columns:

In [164]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.738500
               B   -1.069810
       two     A   -0.571120
               B   -0.044303
baz    one     A   -0.615106
               B   -0.406237
       two     A   -0.110532
               B    1.122239
dtype: float64

With a 'stacked' DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack()  
is unstack(), which by default unstacks the last level:

In [165]:
stacked.unstack()

                     A         B
first second
bar   one    -0.738500 -1.069810
      two    -0.571120 -0.044303
baz   one    -0.615106 -0.406237
      two    -0.110532  1.122239

In [166]:
stacked

first  second
bar    one     A   -0.738500
               B   -1.069810
       two     A   -0.571120
               B   -0.044303
baz    one     A   -0.615106
               B   -0.406237
       two     A   -0.110532
               B    1.122239
dtype: float64

In [167]:
stacked.unstack(1)

second        one       two
first
bar   A -0.738500 -0.571120
      B -1.069810 -0.044303
baz   A -0.615106 -0.110532
      B -0.406237  1.122239

In [168]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.738500 -0.615106
       B -1.069810 -0.406237
two    A -0.571120 -0.110532
       B -0.044303  1.122239

### Pivot Tables

Yes, there is also a section devoted to pivot tables.

In [169]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.559725 -1.869442
1     one  B  foo -0.375506  0.044384
2     two  C  foo -0.203688 -1.342717
3   three  A  bar -0.220498 -0.394904
4     one  B  bar -0.363090  1.833399
5     one  C  bar  0.913514  1.051672
6     two  A  foo -0.227632 -0.666806
7   three  B  foo  1.145731  0.230557
8     one  C  foo  1.938643  0.187171
9     one  A  bar -0.687849  1.979886
10    two  B  bar -0.522169  1.233581
11  three  C  bar  1.581700  1.955979

Now let's make a pivot table:

In [170]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.687849 -0.559725
      B -0.363090 -0.375506
      C  0.913514  1.938643
three A -0.220498       NaN
      B       NaN  1.145731
      C  1.581700       NaN
two   A       NaN -0.227632
      B -0.522169       NaN
      C       NaN -0.203688